@font-face {
    font-family: 'IBM Light';
    src: url("fonts/IBMPlexMono-Light.ttf")
}

@font-face {
    font-family: 'IBM Regular';
    src: url("fonts/IBMPlexMono-Regular.ttf")
}

@font-face{
    font-family: "IBM Bold";
    src: url("fonts/IBMPlexMono-Bold.ttf")
}

@font-face {
    font-family: 'Founders Bold';
    src: url("fonts/Founders Grotesk Mono Bold Regular.ttf")
}

@font-face{
    font-family: 'Founders';
    src: url("fonts/Founders Grotesk Mono Regular Regular.ttf")
}

@font-face { /* swiper icons */
    font-family: 'swiper-icons';
    src: url('data:application/font-woff;charset=utf-8;base64, d09GRgABAAAAAAZgABAAAAAADAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAAABGRlRNAAAGRAAAABoAAAAci6qHkUdERUYAAAWgAAAAIwAAACQAYABXR1BPUwAABhQAAAAuAAAANuAY7+xHU1VCAAAFxAAAAFAAAABm2fPczU9TLzIAAAHcAAAASgAAAGBP9V5RY21hcAAAAkQAAACIAAABYt6F0cBjdnQgAAACzAAAAAQAAAAEABEBRGdhc3AAAAWYAAAACAAAAAj//wADZ2x5ZgAAAywAAADMAAAD2MHtryVoZWFkAAABbAAAADAAAAA2E2+eoWhoZWEAAAGcAAAAHwAAACQC9gDzaG10eAAAAigAAAAZAAAArgJkABFsb2NhAAAC0AAAAFoAAABaFQAUGG1heHAAAAG8AAAAHwAAACAAcABAbmFtZQAAA/gAAAE5AAACXvFdBwlwb3N0AAAFNAAAAGIAAACE5s74hXjaY2BkYGAAYpf5Hu/j+W2+MnAzMYDAzaX6QjD6/4//Bxj5GA8AuRwMYGkAPywL13jaY2BkYGA88P8Agx4j+/8fQDYfA1AEBWgDAIB2BOoAeNpjYGRgYNBh4GdgYgABEMnIABJzYNADCQAACWgAsQB42mNgYfzCOIGBlYGB0YcxjYGBwR1Kf2WQZGhhYGBiYGVmgAFGBiQQkOaawtDAoMBQxXjg/wEGPcYDDA4wNUA2CCgwsAAAO4EL6gAAeNpj2M0gyAACqxgGNWBkZ2D4/wMA+xkDdgAAAHjaY2BgYGaAYBkGRgYQiAHyGMF8FgYHIM3DwMHABGQrMOgyWDLEM1T9/w8UBfEMgLzE////P/5//f/V/xv+r4eaAAeMbAxwIUYmIMHEgKYAYjUcsDAwsLKxc3BycfPw8jEQA/gZBASFhEVExcQlJKWkZWTl5BUUlZRVVNXUNTQZBgMAAMR+E+gAEQFEAAAAKgAqACoANAA+AEgAUgBcAGYAcAB6AIQAjgCYAKIArAC2AMAAygDUAN4A6ADyAPwBBgEQARoBJAEuATgBQgFMAVYBYAFqAXQBfgGIAZIBnAGmAbIBzgHsAAB42u2NMQ6CUAyGW568x9AneYYgm4MJbhKFaExIOAVX8ApewSt4Bic4AfeAid3VOBixDxfPYEza5O+Xfi04YADggiUIULCuEJK8VhO4bSvpdnktHI5QCYtdi2sl8ZnXaHlqUrNKzdKcT8cjlq+rwZSvIVczNiezsfnP/uznmfPFBNODM2K7MTQ45YEAZqGP81AmGGcF3iPqOop0r1SPTaTbVkfUe4HXj97wYE+yNwWYxwWu4v1ugWHgo3S1XdZEVqWM7ET0cfnLGxWfkgR42o2PvWrDMBSFj/IHLaF0zKjRgdiVMwScNRAoWUoH78Y2icB/yIY09An6AH2Bdu/UB+yxopYshQiEvnvu0dURgDt8QeC8PDw7Fpji3fEA4z/PEJ6YOB5hKh4dj3EvXhxPqH/SKUY3rJ7srZ4FZnh1PMAtPhwP6fl2PMJMPDgeQ4rY8YT6Gzao0eAEA409DuggmTnFnOcSCiEiLMgxCiTI6Cq5DZUd3Qmp10vO0LaLTd2cjN4fOumlc7lUYbSQcZFkutRG7g6JKZKy0RmdLY680CDnEJ+UMkpFFe1RN7nxdVpXrC4aTtnaurOnYercZg2YVmLN/d/gczfEimrE/fs/bOuq29Zmn8tloORaXgZgGa78yO9/cnXm2BpaGvq25Dv9S4E9+5SIc9PqupJKhYFSSl47+Qcr1mYNAAAAeNptw0cKwkAAAMDZJA8Q7OUJvkLsPfZ6zFVERPy8qHh2YER+3i/BP83vIBLLySsoKimrqKqpa2hp6+jq6RsYGhmbmJqZSy0sraxtbO3sHRydnEMU4uR6yx7JJXveP7WrDycAAAAAAAH//wACeNpjYGRgYOABYhkgZgJCZgZNBkYGLQZtIJsFLMYAAAw3ALgAeNolizEKgDAQBCchRbC2sFER0YD6qVQiBCv/H9ezGI6Z5XBAw8CBK/m5iQQVauVbXLnOrMZv2oLdKFa8Pjuru2hJzGabmOSLzNMzvutpB3N42mNgZGBg4GKQYzBhYMxJLMlj4GBgAYow/P/PAJJhLM6sSoWKfWCAAwDAjgbRAAB42mNgYGBkAIIbCZo5IPrmUn0hGA0AO8EFTQAA') format('woff');
    font-weight: 400;
    font-style: normal;
  }


body {
    min-height: 100vh;
    background: #333333;
    font-family: 'Founders';
    color: #fffbf1;
    position :relative;
}

* {
    outline: none;
}

#hSection{
    color:#fffbf1;
    text-align:center;
    width: 100%;
    font-size: 2.3rem;
    margin-bottom : 0;
    font-family: 'IBM Regular';
}
#hSection span {
    color: #FFEE00;
}

h4{
    color:#fffbf1;
    width: 100%;
    text-align: center;
    font-family: 'IBM Light';
    font-size: 1.15rem;
    margin-top: 0.25rem
}

body .project-wrapper {
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
    flex-direction: column;
}
body .project-wrapper .project-container {
    background-size: cover !important;
    background-position: top center !important;
    color: #fffbf1;
    height: 250px;
    min-width: 250px;
    width: 250px;
    position: relative;
    z-index: 2;
    border-radius: 5px;
    -webkit-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
    -moz-box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
    box-shadow: 0px 3px 15px -1px rgba(0, 0, 0, 0.5);
    margin-top: 0rem;
}

body .project-wrapper #first-container{
    background: url('img/bw/scherabon.jpg');
}

body .project-wrapper #second-container{
    background: url('img/bw/data-strings-bw.jpg');
}

body .project-wrapper #third-container{
   background: url("img/bw/wind-of-istanbul-bw.jpg")
}


body .project-wrapper .project-container .overlay {
    position: absolute;
    height: calc(100% + 1px);
    width: calc(100% + 1px);
    z-index: 2;
    background: -moz-linear-gradient(-45deg, #333 0%, #222 100%);
   /* FF3.6-15 */
    background: -webkit-linear-gradient(-45deg, #333 0%, #222 100%);
   /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(135deg, #333 0%, #222 100%);
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    opacity: 0.85;
}

body .project-wrapper .project-container .content {
    text-align: center;
    position: relative;
    z-index: 3;
}

body .project-wrapper .project-container .content h2 {
    font-size: 1em;
    margin: 46px 0 0 0;
    /* font-weight: 550; */
    font-family: "IBM Regular";
}

body .project-wrapper .project-container .content #h21{
    margin: 25px 0 0 0;
   
}

body .project-wrapper .project-container .content h3 {
    margin: 7px 0 15px 0;
    font-size: 0.9em;
    opacity: 0.4;
    font-family: "IBM Regular";
}

body .project-wrapper .project-container .content .barre {
    width: 100%;
    height: 2px;
    margin: 0 0 10px 0;
    background: -moz-linear-gradient(left,  #fff9a6 0%, #FFEE00 72%);
   /* FF3.6-15 */
    background: -webkit-linear-gradient(left,  #fff9a6 0%, #FFEE00 72%);
   /* Chrome10-25,Safari5.1-6 */
   /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
   background: linear-gradient(to right, #fff9a6 0%, #FFEE00 72%);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

body .project-wrapper .project-container .content .barre::-webkit-slider-thumb {
    -webkit-appearance: none;
    height: 8px;
    width: 8px;
    border-radius: 10px;
    background: #fff;
    cursor: pointer;
}

body .project-wrapper .project-container .content .controls {
    height: 50px;
    display: flex;
    display: -webkit-flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: center;
    justify-content: center;
}

body .project-wrapper .project-container .content .controls .column {
    float: left;
}
body .project-wrapper .project-container .content .controls .column {
    font-size: 1.5em;
}

body .project-wrapper .project-container .content .controls .column:nth-child(2), body .project-wrapper .project-container .content .controls .column:nth-child(4) {
    height: 24px;
    line-height: 24px;
    white-space: nowrap;
}

body .project-wrapper .project-container .content .controls .column:nth-child(n+2):nth-child(-n+4) {
    color: #fffbf1 !important;
}

body .project-wrapper .project-container .content .controls .column i {
    margin: 0 15px;
    cursor: pointer;
}

body .project-wrapper .project-container .content .controls .column img {
    margin: 0 15px;
    width: 30px;
    height: 24px;
}

body .temps {
    font-size: 1rem;
    font-family: "IBM Light";
}

body #dailyui {
    position: fixed;
    font-size: 12em;
    /* font-weight: 700; */
    margin: 0 0 -28px 0;
    padding: 0;
    right: 0;
    bottom: 0;
    color: rgba(0, 0, 0, 1);
    opacity: 0.3;
    z-index: -1;
    text-align: right;
    font-family: 'IBM Bold';
    font-family: "Founders Bold";
}

.txt {
    margin-left: auto;
    margin-right: auto;
}

body .pTxt {
    min-width: 295px;
    width: 295px;
    margin-top: 2rem;
    margin-bottom : 4rem;
}

.plus {
    background: none;
    border:none;
    color: #FFEE00;
    font-family: 'IBM Regular';
    font-size: 1rem;
}

.txtSuite {
    display: none;
}

:root {
    --dark: #333;
    --black: black;
    --light: #fff;
    --neutral: #f6f6f6;
    --neutral-dark: #d1d1d1;
    --color: #FFEE00;
    --color-light: #941ed2;
    --color-dark: #2719cd;
    --swiper-theme-color: var(--color) !important;
    --swiper-navigation-size: 37px;
}

#menu{
    position: fixed;
    bottom: 2%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%); /* décalage de 50% de sa propre taille */
    color:var(--dark);
    font-family: 'Founders';
    z-index: 1000;
}

.hero__wrapper {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-wrap: wrap;
}

.hero__wrapper:before {
    content: '';
    border-radius: 50%;
    position: fixed;
    bottom: 50px;
    left: 10px;
    z-index: -1;
}

.hero__header {
    flex: 0 1 1px;
    padding-right: 50px;
    color: var(--dark);
    font-size: 8vmax;
}

.hero__phone {
    width: 7rem;
    height: 3.4rem;
    position: relative;
}

.hero__phone:before {
    content: '';
    width: 175px;
    height: 25px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translatex(-50%);
}

.hero__phone:after {
    content: '';
    width: 100px;
    height: 5px;
    border-radius: 2px;
    position: absolute;
    bottom: 6px;
    left: 50%;
    transform: translatex(-50%);
}

.menu__button {
    --x: -50%;
    --y: 50%;
    --z: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #FFEE00;
    padding: 10px 20px;
    border-radius: 28px;
    border: none;
    box-shadow: 0 2px 40px -10px var(--black);
    color:var(--dark);
    font-size: 16px;
    white-space: nowrap;
    position: absolute;
    bottom: 30px;
    left: 50%;
    transform: translate3d(var(--x), var(--y), var(--z));
    cursor: pointer;
    transition: 0.15s cubic-bezier(0.33, 1, 0.53, 1);
    font-family: 'Founders';
}

.menu__button[hidden] {
    --y: 200%;
}

.menu__button div {
    display: flex;
    align-items: center;
    width: 12px;
    height: 12px;
    margin-right: 20px;
}

.menu__button div div {
    display: table;
    height: 1px;
    background:var(--dark);
    box-shadow: 0 4px 0 var(--dark), 0 -4px 0 var(--dark);
}

.menu__overlay {
    width: 100%;
    height: 100%;
    position: absolute;
    display: none;

}

.menu__body {
    --x: 0;
    --y: 0;
    --z: 0;
    display: block;
    width: 100%;
    background: var(--color);
    padding-bottom: 15px;
    border-radius: 20px;
    box-shadow: 0px -9px 50px -30px black;
    position: absolute;
    bottom: 0;
    transform: translate3d(var(--x), var(--y), var(--z));
    transition: 0.2s cubic-bezier(0.33, 1, 0.53, 1);
}

.menu__body[hidden] {
    --y: 150%;
}

.menu__body > *:not(:last-child) {
    border-bottom: 2px solid var(--dark);
}

.menu__header {
    display: flex;
    justify-content: space-between;
    padding: 15px 20px;
}

.menu__header p {
    font-size: 18px;
    font-weight: bold;
    white-space: nowrap;
    margin: 0;
}

.menu__header h3 {
    font-weight: normal;
}

.menu__header button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 25px;
    height: 25px;
    background: var(--color);
    border-radius: 50%;
    cursor: pointer;
    border: none;
}
 
.menu__header i{
    font-size: 1.5rem;
    color: var(--dark);
}

.menu__links {
    display: flex;
    padding: 20px 10px;
    font-weight: bold;
    overflow-x: auto;
    font-size: 0.9rem;
    text-align: center;
}

.menu__links a {
    padding-left: 10px;
    padding-right: 10px;
    color: var(--dark);
    text-decoration: none;
    white-space: nowrap;
  }

.menu__contact {
    display: flex;
    padding: 8px;
}

.menu__contact svg {
    width: 100%;
    fill: var(--dark);
}

.menu__contact a {
    flex: 1 1 30%;
    padding: 5px;
    margin: 5px;
    border-radius: 8px;
    color: var(--dark);
    text-decoration: none;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}   

.closedForm, .closedForm2 {
    width: 100%;
}

.closedForm2{
    position: relative;
    top: 8%;
    left: 50%; /* à 50%/50% du parent référent */
    transform: translate(-50%, 100%); /* décalage de 50% de sa propre taille */
    color:var(--light);
    z-index: 1000;
}

.closedForm2 i {
    margin-left: 18%;
}

@media all and (max-width: 320px){
    .closedForm2 i {
        margin-left: 12%;
    }
}

.chosen-value, .value-list, .chosen-value2, .value-list2 {
    position: absolute;
    top: 0;
    left: 0;
}

.chosen-value, .chosen-value2 {
    text-transform: uppercase;
    font-weight: 600;
    height: 1rem;
    padding-bottom: 1rem;
    background-color: transparent;
    transition: 0.3s ease-in-out;
    text-align: center;
    font-family: 'IBM Regular';
}

.chosen-value{
    font-size: 0.8rem;
    width: 60%;
    padding-top: 1rem;
    border: 3px solid transparent;
    left: 50%;
    transform: translateX(-50%);
}

.chosen-value2{
    font-size: 1rem;
    width: 73%;
    color: var(---light);
    border: none;
    left: 52%;
    transform: translateX(-48%);
}

.chosen-value::-webkit-input-placeholder {
    color: #333;
}

.chosen-value2::-webkit-input-placeholder{
    color: var(--light);
}

.chosen-value:hover, .chosen-value2:hover {
    cursor: pointer;
}

.chosen-value:hover::-webkit-input-placeholder {
    color: #333;
}

.chosen-value2:hover::-webkit-input-placeholder{
    color: var(--light);
}

.chosen-value:focus, .chosen-value.open  {
    box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2);
    outline: 0;
    color: #000;
}

.chosen-value2:focus, .chosen-value2.open{
    color: var(--light);
}

.chosen-value:focus::-webkit-input-placeholder, .chosen-value.open::-webkit-input-placeholder  {
    color: #000;
}

.chosen-value2:focus::-webkit-input-placeholder, .chosen-value2.open::-webkit-input-placeholder {
    color: var(--light);
}

.value-list, .value-list2 {
    list-style: none;
    /* display:none; */
    /* box-shadow: 0px 5px 8px 0px rgba(0, 0, 0, 0.2); */
    /* background-color: #fafcfd; */
    overflow: hidden;
   /* touch-action: none;
    -ms-touch-action: none; */
    /* display:flow-root; */
    max-height: 0;
    /* position: static; */
    transition: 0.3s ease-in-out;
    width: 250px;
    left: 50%;
    transform: translateX(-50%);
    padding: 0;
    font-family: "Founders";
}

.value-list {
    margin-top: 3.3rem;
    z-index: 100000;
}

.value-list2 {
    margin-top: 2rem;
    margin-bottom: 2rem;
   
}

.value-list.open, .value-list2.open {
   /* display:block; */
    z-index: 100000000000;
    overflow: auto;
}

.value-list.open {
    max-height: 250px;
}

.value-list2.open {
    max-height: 300px;
}

.openForm {
    margin-bottom: 15rem;
    height: 10rem;
}

.value-list li, .value-list2 li {
    position: relative;
    height: auto;
    background-color: #fafcfd;
    border-top: 0.5px solid var(--neutral-dark);
    border-bottom: 0.5px solid var(--neutral-dark);
    padding-bottom:1rem;
    padding-top: 1rem;
    padding-right: 1.5rem;
    padding-left:1.5rem;
    height: auto;
    font-size: 1.1rem;
    display: flex;
    display:-webkit-flex;
    align-items: center;
    cursor: pointer;
    transition: background-color 0.3s;
    opacity: 1;
    color: var(--dark);
    z-index: 100000000;
}

.value-list li:first-child, .value-list2 li:first-child {
    border-top: none;
}

.value-list li:last-child, .value-list2 li:last-child {
    border-bottom: none;
}

.value-list li.closed, .value-list2 li.closed {
    max-height: 0;
    overflow: hidden;
    padding: 0;
    opacity: 0;
    display:none;
}

body .project-wrapper{
    display:none;
}

body .project-wrapper:first-of-type{
    display: flex;
}

.prev-screen, .next-screen {
    position: absolute;
    top:46%;
    align-self: stretch;
    background: none;
    border: 0;
    color: rgba(255, 255, 255, 0.25);
    cursor: pointer;
    flex: 0 0 auto;
    font-size: 4rem;
    opacity: 1;
    outline: none;
    transform: scale(1);
    transition: transform 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), color 0.4s cubic-bezier(0.25, 0.8, 0.25, 1), opacity 0.4s cubic-bezier(0.25, 0.8, 0.25, 1);
    z-index: 1000;
}

.prev-screen {
    left: 0%;
}

.next-screen {
    right: 0%;
}

.swiper-container {
    width: 100%;
    height: 100%;
    margin-top: 5rem;
}

.swiper-slide {
    /* Center slide text vertically */
    display: -webkit-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-box-pack: center;
    -ms-flex-pack: center;
    -webkit-justify-content: center;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    -webkit-align-items: center;
    align-items: center;
    flex-direction: column;
}

.swiper-button-prev, .swiper-button-next, .swiper-pagination, .btNext, .btPrev{
    position: fixed !important;
}

.swiper-container-horizontal > .swiper-pagination-progressbar, .swiper-container-vertical > .swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
    height: 5px !important;
}

.btNext, .btPrev {
    top: 50%;
    width: calc(var(--swiper-navigation-size) / 44 * 27);
    height: var(--swiper-navigation-size);
    margin-top: calc(-1 * var(--swiper-navigation-size) / 2);
    z-index: 10;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--swiper-navigation-color, var(--swiper-theme-color));
}

.btNext i, .btPrev i{
    font-size: var(--swiper-navigation-size);
    text-transform: none !important;
    letter-spacing: 0;
    font-variant: initial;
    line-height: 1;
}

.btNext {
    right: 10px;
    left: auto;
}

.btPrev {
    left: 10px;
    right: auto;
}

.btDisabled{
    opacity: 0.35;
    cursor: auto;
    pointer-events: none;
}


